<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@ViewData["Title"] - Japanese C đáng iu</title>
  <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="~/assets/images/favicons/site.webmanifest">

  <!-- plugin scripts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,500i,600,700,800%7CSatisfy&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="~/assets/css/animate.min.css">
  <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="~/assets/plugins/fontawesome-free-5.11.2-web/css/all.min.css">
  <link rel="stylesheet" href="~/assets/plugins/kipso-icons/style.css">
  <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
  <link rel="stylesheet" href="~/assets/css/vegas.min.css">

  <!-- template styles -->
  <link rel="stylesheet" href="~/assets/css/style.css">
  <link rel="stylesheet" href="~/assets/css/responsive.css">
</head>

<body>
  <header class="site-header site-header__home-three">
    <div class="topbar-one">
      <div class="container">
        <div class="topbar-one__left">
          <a href="#">chieuthuymaijenny@gmail.com</a>
          <a href="#">0963 779 109</a>
        </div>
        <!-- /.topbar-one__left -->
        <div class="topbar-one__right">
          <a asp-area="" asp-controller="Home" asp-action="Login">Login</a>
          <a href="#">Register</a>
        </div>
        <!-- /.topbar-one__right -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.topbar-one -->
    @if (ViewData["isShownNavbar"] != null && (bool)ViewData["isShownNavbar"] == true)
    {

      <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
          <div class="logo-box clearfix">
            <a class="navbar-brand" href="index-.html">
              <img src="~/assets/images/logo-light.png" class="main-logo" width="128" alt="Awesome Image" />
            </a>
            <button class="menu-toggler" data-target=".main-navigation">
              <span class="kipso-icon-menu"></span>
            </button>
          </div>

          <div class="main-navigation">
            <ul class="navigation-box">
              <li class="current">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
              </li>
              <li>
                <a href="courses.html">Courses</a>
                <ul class="sub-menu">
                  <li><a href="courses.html">Courses</a></li>
                  <li><a href="course-details-n5.html">Course Details</a></li>
                </ul>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>

          <div class="right-side-box">
            <div class="header__social">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>

          </div>

        </div>

      </nav>
    }
  </header>


  <div class="page-wrapper">
    @RenderBody()
  </div>

  <script src="~/assets/js/jquery.min.js"></script>
  <script src="~/assets/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/js/owl.carousel.min.js"></script>
  <script src="~/assets/js/waypoints.min.js"></script>
  <script src="~/assets/js/jquery.counterup.min.js"></script>
  <script src="~/assets/js/TweenMax.min.js"></script>
  <script src="~/assets/js/wow.js"></script>
  <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="~/assets/js/countdown.min.js"></script>
  <script src="~/assets/js/vegas.min.js"></script>
  <script src="~/assets/js/jquery.validate.min.js"></script>
  <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>

  <!-- template scripts -->
  <script src="~/assets/js/theme.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
